#navIzq {
    padding-top: 70px;
}

#navIzq ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#navIzq li a {
    display: block;
    color: #000;
    padding: 15px 16px;
    text-decoration: none;
    font-family: sans-serif;
}

#navIzq li a.active {
    background-color: #2098D1;
    color: white;
}

#navIzq li a.eliminar {
    background-color: #E04A4A;
    color: white;
}

#navIzq li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#derecha {
    margin-left: 1%;
    padding-top: 0.5%;
}

#contenedor {
    margin-left: 40%;
    width: 700px;
}
#titulo {
    display: block;
    font-family: sans-serif;
    font-size: 39px;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-left: 19%;
}
#titulo2{
    margin-left: 19%;
}
#titulo2 span {
    display: block;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
    color: red;
}

#label1 {
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    padding-left: 7px;
}

#cedula {
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}

#nombres {
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}

#apellidos {
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}

#direccion {
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}

#telefono {
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}

#fechaNacimiento {
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}

#correo {
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}

#contrasena {
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}

#contrasena1 {
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}

#contrasena2 {
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}

#nombre {
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}

#ruc {
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
    display: block;
    width: 70%;
    height: 40px;
    padding: 0 7px 0 20px;
    background-color: #CFCFCF;
    border: 1px solid #D9D9D9;
    outline: none;
    margin-left: 5%;
}

#submit {
    margin-top: 2%;
    padding: 0 20px;
    width: 30%;
    height: 50px;
    background-color: #333333;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    margin-left: 10%;
}

#submit:hover {
    background-color: #ED3B58;
}

#cancelar {
    margin-top: 2%;
    padding: 0 20px;
    width: 30%;
    height: 50px;
    background-color: #333333;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
}

#cancelar:hover {
    background-color: #ED3B58;
}



table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    table-layout: fixed;

  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -20px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
