* {
    box-sizing: border-box;
}
.contenedor {
    padding-top: 70px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    font-family: sans-serif;
}

#fondo1 {
    width: 100%;
    height: 800px;
    background: linear-gradient(to bottom, 
    rgba(128, 0, 128, .5), 
    rgba(255, 0, 255, .3), 
    rgba(211, 135, 20, .5), 
    rgba(142, 142, 142, .5),
    rgba(142, 142, 142, .5),
    rgba(29, 241, 171, .5), 
    rgba(7, 109, 150, .4), 
    rgba(16, 167, 243, .5)),  url(../images/5.jpg);
    /* background-repeat: no-repeat;  */
    /* background-attachment: contain; */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.ancholetras {
    top: 270px;
    position: absolute;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 1;
}

.texto {
    width: 80%;
    margin: auto;
}

.texto h2 {
    color: lightcyan;
    font-size: 100px;
    margin: auto;
    font-family: one;
}

.texto p {
    color: aliceblue;
    padding-top: 20px;
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.click {
    width: 20%;
    height: auto;
    border: solid  orange;
    margin: auto;
}

.click a:hover {
    /* border: 3px solid dodgerblue; */
    color: fuchsia;
    background-color: white;
}

.click a {
    width: 100%;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 10px 25px;
    display: inline-block;
}

/* contenido */

/* 
.bienv {
    width: 100%;
    height: 50%;
     float: left; 
} */

.bienv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.imagenbienv {
    width: 37%;
}

.imagenbienv img {
    margin-left: 70px;
    width: 100%;
    height: 350px;
    margin-top: 14%
}
#int {
    width: 58.2%;
    padding: 0px 50px;
}

#int h4 {
    font-size: 35px;
    text-align: center;
    
}

#int p {
    padding-top: 20px;
    text-align: justify;
    font-weight: bold;
    font-size: 15px;
} 

.wap {
    width: 90%;
    margin: auto;
}

.contenedor hr{
    width: 70%;
    margin: 0 auto;
    color:  solid black;
}

.columna {
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
}

.columnasx3 {
    width: 33.333%;
    float: left;
    padding: 20px 10px;
    box-sizing: border-box;

}

.columnasx3 img {
    width: 90%;
    height: auto;
    padding-bottom: 10px;
    padding-left: 45px;

}

.columnasx3 a {
    font-size: 20px;
    color: white;
    text-align: center;


    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #c02d54;
    border-radius: 10px;
}
.prueba{
    text-align: center;
}
h3{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight: bold;
}

h5{
    font-size: 20px;
    text-align: center;
    font-weight: bold;

}

@media screen and (max-width:420px) {
    .texto {
        width: 100%;
    }
    .click {
        width: 50%;
        height: 50px;
    }
    .click a {
        font-size: 20px;
    }
    .salto{
        padding-top: 50px;
    }
    .bienv{
        display: inline;
    }
  
    .imagenbienv {
        width: 100%;
    }
    .imagenbienv img {
        margin-left: 0px;

    }
    #int{
        width: 100%;
    }
   
    .columnasx3 {
        width: 50%;
    }
    .columnasx3 img {
        height: 150px;
    }
    .columnasx3 a {
        font-size: 10px;
    }
}
@font-face {
    font-family: one;
    src: url(../fuentes/Pacifico-Regular.ttf)
}

@font-face {
    font-family: rale;
    src: url(../fuentes/Raleway-Regular.ttf);
}

@font-face {
    font-family: ultra;
    src: url(../fuentes/StintUltraExpanded-Regular.ttf);
}