* {
    /* cabcera de todas las paginas */
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
    font-family: rale;
}
 
.menu_bar {
    display:none;
   
}
header {
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    z-index:10;
}
.logo {
    width: 20%;
    height: 70px;
    float: left;

}
 
header nav {
    width:80%;
    height: 70px;
    margin:0px auto;
    display: flex;
    padding-top:10px;
    z-index:1000;
    margin-left: 650px;

    
}
header nav ul {
    list-style:none;
   
}
 
header nav ul li {
	display:inline-block;
    position: relative;

   
}
header nav ul li:hover {
	background:rgba(240, 0, 220);
}
header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
    padding: 14px 20px;
    text-transform: uppercase;
    
}
header nav ul li:hover .children{
	display:block;
}
header nav ul li .children {
	display: none;
    background: rgba(0, 0, 0, .2);
	position: absolute;
	width: 100%;
	z-index:1000;
}
header nav ul li .children li {
	display:block;
    overflow: hidden;
    border-top: 1px solid rgba(0, 226, 223,.6);

}
header nav ul li .children li a {
    display: block;

    

}
nav ul li ul li a{
    color: white;
    background-color: #333333;
}
header nav ul li a span {
	position: relative;
	top:1px;
	margin-right:0;
	margin-left:10px;
}

@media screen and (max-width: 420px) {
    
    .logo {
        display: none;
    }
    .logo img {
        width: 100%;
        height: 70px;
    }
    .menu_bar {
		display:block;
        width:100%;
        height: 70px;
		position: fixed;


    }
    .menu_bar .m{
        width: 75%;
        height: 70px;
        float: left;
    }
    .menu_bar .m p{
        color: #fff;
        font-size: 30px;
        padding-top: 7.5%;
        margin-left: 50%;
        text-transform: uppercase;
    }
    .menu_bar .bt-menu {
        width: 25%;
        height: 70px;;
		display: block;
		padding: 2px 10px;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
        text-decoration: none;

        float: left;


    }
    .menu_bar img {
		float: left;
        font-size: 40px;
        margin-right: 60%;


    }
    header nav {
        
        width: 50%;
        height: 70px;
		height: calc(52% - 80px);
		position: fixed;
        right: 100%;
        margin: 0;
        top:70px;
        background:rgba(0, 0, 0, .8);
        border-top: 1px solid rgba(255,255,255,.5);
		overflow: scroll;
    }
    header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
    }
    header nav ul li a {
		display: block;
    }
    header nav ul li:hover .children {
		display: none;
	}
	header nav ul li .children {
		width: 100%;
        position: relative;
        background: none;
        
    }
    header nav ul li .children li a {
		margin-left:20px;
    }
    
	
}
@font-face{
    font-family: rale;
    src: url(../fuentes/Raleway-Regular.ttf)
}
 