#imagen {
    margin-left: 25%;
}
#img{
    padding: 13px 10px;
    width: auto;
    height: 50px;
    background-color: #333333;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
}
#submit {
    margin-top: 2%;
    padding: 0 20px;
    width: 30%;
    height: 50px;
    background-color: #333333;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    margin-left: 15% ;
    border: none;
}
#submit:hover {
    background-color: #1CB841;
}
#cancelar{
    border: none;
}
#imagen{
    margin-left: 15%;
}
#imagen img{
    margin-left: 15%;
}
#img{
    margin-left: 9%;
}
