* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: rale;
}

.contenido {
    padding-top: 70px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.sub {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.tit {
    width: 30%;
    /* height: 70px; */
    padding-top: 10px;
    margin: auto;
  
}

.tit h4{
        font-size: 30px;
        font-family: 'Oswald', sans-serif;
        margin-left: 10px;
}

.card img{
    height: 200px;
    width: 200px;
    
}

.sub .tit h4{
    font-size: 50px;
    font-family: 'Heebo', sans-serif;   
    text-align: center;
}

.sub .hiper {
    width: 70%;
    /* height: 70px; */
    margin: auto;
    text-align: right;
    padding-top: 24px;
    padding-right: 60px;
}

.sub .hiper a {
    color: grey;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    border-right: solid gray;
    font-family: 'Heebo', sans-serif;   
}

.sub .hiper a:hover {
    color: darkmagenta;
}

/* contenido */

.wap {
    width: 90%;
    margin: auto;
}

.container {
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
}
.col-3{
    width: 25%;
    float: left;
    padding: 20px 10px;
    box-sizing: border-box;
   
}

.col-3 .card:hover{
    transform: translateY(-20px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}


.col-3 .card img{
    width: 95%;
    height: 200px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-inline-end: 25px;
}

.col-3 a{
    padding-top: 50px;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color:#000;
    border-radius: 10px;

}

.col-3 .card-body{
    text-align: center;
}

.col-3 .btn-primary{
    padding-top: 50px;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color:#c02d54;
    border-radius: 10px;
}

.prueba{
    text-align: center;
}


/* .prueba{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
} */

@media screen and (max-width: 420px){
    .sub {
        width: 100%;
        padding: 1px;
    }
    .tit{
        width: 50%;
        margin:10px;
    }
    .sub .tit h4{
        font-size: 40px;
        text-align: left;
    }
    .sub .hiper{
        width: 50%;
        padding-right: 5px;
    }
    .sub .hiper a{
        font-size: 30px;
    }
    .columnasx4{
        width: 50%;
    }
    .columnasx4 img{
        height: 150px;
    }
    .columnasx4 a{
        font-size: 10px;
    
    }

}
@font-face {
    font-family: akro;
    src: url(../fuentes/Akronim-Regular.ttf);
}

@font-face {
    font-family: karla;
    src: url(../fuentes/Karla-Regular.ttf);
}

@font-face {
    font-family: rale;
    src: url(../fuentes/Raleway-Regular.ttf);
}