*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: rale;
}

.fondo1 {
    width: 100%;
    height: 671px;
    top: 370px;
    background: linear-gradient(to bottom, 
    rgba(112, 112, 112, .6), 
    rgba(112, 112, 112, .6), 
    rgba(112, 112, 112, .6), 
    rgba(112, 112, 112, .6)),  url(../images/fondo/3.jpg);
    /* background-repeat: no-repeat;  */
    /* background-attachment: contain; */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.ancholetras {
    top: 450px;
    position: absolute;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 1;
}

.texto {
    width: 80%;
    margin: auto;
}

.texto h2 {
    color: lightcyan;
    font-size: 100px;
    margin: auto;
    font-family: one;
}

.texto p {
    color: aliceblue;
    padding-top: 20px;
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.contenido{
    width: 100%;
    padding-top: 91px;
}
.imagen{
    width: 100%;
    padding: 20px 20px; 
}
.imagen img{
    width: 100%;
    padding-bottom: 20px;
}
.imagen p{
    text-align: justify;
}
.sub {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
.contenido .tit {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sub .tit h4{
    text-align: center;
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
    margin-left: 5px;
    color: crimson;
}

.sub .hiper {
    width: 60%;
    height: 70px; 
    margin: auto;
    text-align: center;
    margin-right: 20px;

}

.sub .hiper a {
    color: grey;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    border-right: solid gray;
    font-family: 'Heebo', sans-serif;   
}

.sub .hiper a:hover {
    color: darkmagenta;
}

p{
    font-family: 'Cabin', sans-serif;
    color: black;
    margin: 30px;
    text-align: center;
}

.conte h1{
    text-align: center;
    
}
.conte{
    
}
.contenedor{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    color: aliceblue;
    

}
.acercaTienda{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    background: linear-gradient(to bottom, 
    rgba(110, 0, 110, 0.336), 
    rgba(255, 0, 255, 0.3), 
    rgba(4, 0, 255, 0.3), 
    rgba(10, 10, 10, 0.3), 
    rgba(110, 0, 110, 0.336), 
    rgba(255, 0, 255, 0.3), 
    rgba(4, 0, 255, 0.3), 
    rgba(10, 10, 10, 0.3), 
    rgba(16, 167, 243, .5)), url(../images/fondo/2.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}
.acercaTienda .horario{
    width: 50%;
    padding-top: 150px;
}
.acercaTienda .horario h2{
    text-align: center;
}
.acercaTienda .horario p{
    padding-top: 10px;
    margin-left: 10px;
}
.acercaTienda .datos{
    width: 50%;
    padding-top: 150px;

}
.acercaTienda .datos h2{
    text-align: center;

}
.acercaTienda .datos p{
    padding-top: 10px;

}
.acercaTienda .datos p a{
    text-decoration: none;
    color: aqua;

}
.acercaTienda .datos p i{
    color: rgb(0, 0, 0);

}
#map{
    width: 50%;
    margin-right: 20px;
    margin-left: 20px;
    color: rgb(72, 173, 173);
    z-index:1;

 
}
@media screen and (max-width: 420px){
    .sub{
        display: flex;
        align-items: flex-start;
    }
    .sub .tit h4{
        font-size: 35px;
    }
    .sub .hiper a {
        font-size: 30px;
        border-right:none;

    
    }

}
@font-face{
    font-family: rale;
    src: url(../fuentes/Raleway-Regular.ttf);
}


h1{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight: bold;
}


/* CSS SLIDER IMAGENES */
@import url(https://fonts.googleapis.com/css?family=Varela+Round);



.slides {
    padding: 0;
    width: 800px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 800px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(247, 0, 41, 0.911);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5{
	background: rgba(0, 0, 0, 0.8);
}