*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: rale;
    letter-spacing: 2px;
}
.contenido{
    width: 100%;
    padding-top: 91px;
}
.imagen{
    width: 100%;
    padding: 20px 20px; 
}
.imagen img{
    width: 100%;
    padding-bottom: 20px;
}
.imagen p{
    text-align: justify;
}
.sub {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
.contenido .tit {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sub .tit h4{
    font-size: 50px;
    text-align: center;
}

.sub .hiper {
    width: 60%;
    /* height: 70px; */
    margin: auto;
    text-align: center;
    margin-right: 20px;

}

.sub .hiper a {
    color: grey;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 35px;
    text-transform: uppercase;
    border-right: solid gray;
    font-family: akro;
}

.sub .hiper a:hover {
    color: darkmagenta;
}

.conte h1{
    text-align: center;
    
}
.conte{
    
}
.contenedor{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: flex-end;
    color: aliceblue;
    

}

.acercaTienda{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
 

    background: linear-gradient(to bottom, 
    rgba(110, 0, 110, 0.336), 
    rgba(255, 0, 255, 0.3), 
    rgba(4, 0, 255, 0.3), 
    rgba(10, 10, 10, 0.3), 
    rgba(110, 0, 110, 0.336), 
    rgba(255, 0, 255, 0.3), 
    rgba(4, 0, 255, 0.3), 
    rgba(10, 10, 10, 0.3), 
    rgba(16, 167, 243, .5)), url(../images/fondo/2.jpg);

    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}
.acercaTienda .horario{
    width: 50%;
    padding-top: 50px;
}
.acercaTienda .horario h2{
    text-align: center;
}
.acercaTienda .horario p{
    padding-top: 10px;
    margin-left: 10px;
}
.acercaTienda .datos{
    width: 50%;
    padding-top: 50px;

}
.acercaTienda .datos h2{
    text-align: center;

}
.acercaTienda .datos p{
    padding-top: 10px;

}
.acercaTienda .datos p a{
    text-decoration: none;
    color: aqua;

}
.acercaTienda .datos p i{
    color: rgb(0, 0, 0);

}
#map{
    width: 50%;
    margin-right: 20px;
    margin-left: 20px;
    color: rgb(72, 173, 173);

 
}
@media screen and (max-width: 420px){
    .sub{
        display: flex;
        align-items: flex-start;
    }
    .sub .tit h4{
        font-size: 35px;
    }
    .sub .hiper a {
        font-size: 30px;
        border-right:none;

    
    }

}
@font-face{
    font-family: rale;
    src: url(../fuentes/Raleway-Regular.ttf);
}